.admin-home {
  .wrapper-search {
    margin-bottom: 40px;
    input[type="search"] {
      width: 80%;
    }
  }

  table {
    table-layout: fixed;
    //common
    th {
      font-weight: 500;
    }
    th,
    td {
      vertical-align: middle;
    }
    .col-checkbox {
      width: 60px;
      .wrapper-check-all {
        width: 46px;
        border: 1px solid #000;
        padding: 5px 5px;
        border-radius: 3px;
      }
    }
    .col-name {
      width: calc(100% - 480px - 60px);
    }
    .col-grade {
      width: 120px;
    }
    .col-time {
      width: 120px;
    }
    .col-subject {
      width: 120px;
    }
    .col-action {
      width: 120px;
      .d-flex {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
    }
    .col {
      // align-items: center;
      // justify-self: start;
      // justify-content: start;

      // overflow: hidden;
      // text-overflow: ellipsis;
      // -webkit-line-clamp: 2;
      // height: inherit;
    }
    //end common
    thead {
      .col-checkbox {
        .wrapper-check-all {
        }
      }
    }
    tbody {
      .col-action {
        padding-left: 5px;
        .toggle-icon {
          margin-left: 5px;
          svg {
            transform: scale(1.5);
          }
        }
      }
      .col-checkbox {
        padding-left: 5px;
      }
    }
  }
}
