$font-primary: "Poppins", Arial, sans-serif;
$primary: #40aaf4;

@import "bootstrap/bootstrap";
@import "bootstrap/variables";
@import "bootstrap/mixins";

.wrapper-sidebar {
  font-family: $font-primary;
  font-size: 14px;
  line-height: 1.8;
  font-weight: normal;
  color: lighten(black, 50%);
  // min-width: 0px;
  // height: 100vh;
  width: 230px;
  background: #202d3f;
  display: block;
  z-index: 1002;
  transition: all 0.7s;
  a {
    transition: 0.3s all ease;
    color: $primary;
    &:hover,
    &:focus {
      text-decoration: none !important;
      outline: none !important;
      box-shadow: none;
    }
  }
  button {
    transition: 0.3s all ease;
    &:hover,
    &:focus {
      text-decoration: none !important;
      outline: none !important;
      box-shadow: none !important;
    }
  }

  //SIDEBAR
  .wrapper-sidebar {
    width: 100%;
  }

  #sidebar {
    max-width: 230px;
    width: 230px;
    background: #202d3f;
    color: #fff;
    transition: all 0.3s;
    position: relative;
    &.active {
      margin-left: -250px;
      .custom-menu {
        margin-right: -50px;
      }
    }
    h1 {
      margin-bottom: 20px;
      font-weight: 700;
      font-size: 20px;
      .logo {
        color: white;
        display: block;
        padding: 10px 30px;
        background: $primary;
      }
    }
    ul.components {
      padding: 0;
    }
    ul {
      li {
        font-size: 16px;
        ul {
          margin-left: 10px;
          li {
            font-size: 14px;
          }
        }
        a {
          padding: 15px 30px;
          display: block;
          color: rgba(255, 255, 255, 0.6);
          border-bottom: 1px solid rgba(255, 255, 255, 0.1);
          &:hover {
            color: white;
            background: $primary;
            border-bottom: 1px solid $primary;
          }
        }
        &.active {
          a {
            background: transparent;
            color: white;
            &:hover {
              background: $primary;
              border-bottom: 1px solid $primary;
            }
          }
        }
      }
    }
    // @include media-breakpoint-down(md) {
    //   margin-left: -250px;
    //   &.active {
    //     margin-left: 0;
    //   }
    //   .custom-menu {
    //     margin-right: -60px !important;
    //     top: 10px !important;
    //   }
    // }

    .custom-menu {
      display: inline-block;
      position: absolute;
      top: 10px;
      right: 0;
      margin-right: -50px;
      @include transition(0.3s);
      .btn {
        &.btn-primary {
          background: transparent;
          border-color: transparent;
          i {
            color: black;
            font-size: 24px;
          }
          &:hover,
          &:focus {
            background: transparent !important;
            border-color: transparent !important;
          }
        }
      }
    }
  }

  a[data-toggle="collapse"] {
    position: relative;
  }

  .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }

  #sidebarCollapse {
    span {
      @include media-breakpoint-down(md) {
        display: none;
      }
    }
  }

  .custom-menu {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 0;
    margin-right: -50px;
    @include transition(0.3s);
    .btn {
      &.btn-primary {
        background: transparent;
        border-color: transparent;
        i {
          color: black;
          font-size: 24px;
        }
        &:hover,
        &:focus {
          background: transparent !important;
          border-color: transparent !important;
        }
      }
    }
  }
}
