// 'Poppins',Arial, sans-serif: 'Poppins',Arial, sans-serif;
// #40AAF4: #40AAF4;

// @import 'bootstrap/bootstrap';
// @import 'bootstrap/variables';
// @import 'bootstrap/mixins';

.wrapper-sidebar {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.8;
  font-weight: normal;
  background: #fff;
  color: lighten(black, 50%);

  a {
    transition: 0.3s all ease;
    color: #40aaf4;
    &:hover,
    &:focus {
      text-decoration: none !important;
      outline: none !important;
      box-shadow: none;
    }
  }
  button {
    transition: 0.3s all ease;
    &:hover,
    &:focus {
      text-decoration: none !important;
      outline: none !important;
      box-shadow: none !important;
    }
  }

  //SIDEBAR
  .wrapper-sidebar {
    width: 100%;
  }

  #sidebar {
    min-width: 230px;
    max-width: 230px;
    background: #202d3f;
    color: #fff;
    transition: all 0.3s;
    position: relative;
    &.active {
      margin-left: -250px;
      .custom-menu {
        margin-right: -50px;
      }
    }
    h1 {
      margin-bottom: 20px;
      font-weight: 700;
      font-size: 20px;
      .logo {
        color: white;
        display: block;
        padding: 10px 30px;
        background: #40aaf4;
      }
    }
    ul.components {
      padding: 0;
    }
    ul {
      li {
        font-size: 16px;
        ul {
          margin-left: 10px;
          li {
            font-size: 14px;
          }
        }
        a {
          padding: 15px 30px;
          display: block;
          color: rgba(255, 255, 255, 0.6);
          border-bottom: 1px solid rgba(255, 255, 255, 0.1);
          &:hover {
            color: white;
            background: #40aaf4;
            border-bottom: 1px solid #40aaf4;
          }
        }
        &.active {
          a {
            background: transparent;
            color: white;
            &:hover {
              background: #40aaf4;
              border-bottom: 1px solid #40aaf4;
            }
          }
        }
      }
    }
    // @include media-breakpoint-down(md) {
    //   margin-left: -250px;
    //   &.active {
    //     margin-left: 0;
    //   }
    //   .custom-menu {
    //     margin-right: -60px !important;
    //     top: 10px !important;
    //   }
    // }

    .custom-menu {
      display: inline-block;
      position: absolute;
      top: 10px;
      right: 0;
      margin-right: -50px;
      // @include transition(0.3s);
      .btn {
        &.btn-primary {
          background: transparent;
          border-color: transparent;
          i {
            color: black;
            font-size: 24px;
          }
          &:hover,
          &:focus {
            background: transparent !important;
            border-color: transparent !important;
          }
        }
      }
    }
  }

  a[data-toggle="collapse"] {
    position: relative;
  }

  .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }

  #sidebarCollapse {
    span {
      // @include media-breakpoint-down(md) {
      //   display: none;
      // }
    }
  }

  .custom-menu {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 0;
    margin-right: -50px;
    // @include transition(0.3s);
    .btn {
      &.btn-primary {
        background: transparent;
        border-color: transparent;
        i {
          color: black;
          font-size: 24px;
        }
        &:hover,
        &:focus {
          background: transparent !important;
          border-color: transparent !important;
        }
      }
    }
  }
}
