.ForgotPassword {
  padding: 0 40px;
  .title-FP {
    font-size: 13px;
    color: #3b3b3b;
  }
  hr {
    border-top: 2px dashed #c4c4c4;
    width: 90%;
    margin: 25px auto;
  }
  .form-FP {
    .input-row {
      // justify-content: center;
      align-items: center;
      margin-bottom: 15px;
      input[type=text], input[type=password] {
        width: -webkit-fill-available;
      }
      input[type=radio] {
        margin-right: 20px;
      }
    }
    .input-row.last {
      margin: -8px 0 15px 5px;
    }
  }
}
