.UpdateExam {
  min-height: 374px;

  .UpdateExamInfo {
    .form-create-exam {
      padding: 0 50px 0 10px;
      .profile-row {
        padding: 25px 0 0 0;
        display: flex;
        flex-flow: row;
        align-items: center;
        .key {
          width: 125px;
          text-align: right;
          margin-right: 20px;
          color: rgba(85, 85, 85, 0.8);
          // text-transform: capitalize;
          font-size: 14px;
        }
        .value {
          width: calc(100% - 145px);
          justify-content: start;
          display: flex;

          input[type="text"], 
          input[type="number"],
          select, textarea
          {
            width: 100%;
          }
        }
      }
    }
  }

  .UpdateQuestion {
    margin: 5px 15px;
    .wrapper-question {
      border-radius: 6px;
      background: azure;
      padding: 15px 20px 25px 20px;
      margin-bottom: 15px;
      .question {
        .left {
          width: 55%;
        }

        .right {
          width: 45%;
          padding: 0 5px 0 25px;
          .row-option {
            margin-bottom: 3px;
            input[type="radio"] {
              transform: scale(1.35);
            }
            .text {
              width: 80px;
            }
            input[type="text"] {
              width: calc(100% - 120px);
              padding: 3px 10px;
            }
          }
        }
      }
    }

    .wrapper-btn {
      margin: 15px auto;
      width: 360px;
    }
  }
  
  .CreateEssayExam {
    .wrapper-action {
      margin: 20px 0;
      button {
        margin-left: 10px;
      }
    }
  }
}
