.Comment {
  .comment2 {
    width: 94%;
    margin: 5px 3%;
  }
  
  .input {
    border: 1px solid #c4c4c4;
    border-radius: 2px;
    padding: 2px 7px;
    input {
      border: none;
      border-right: 1px solid #c4c4c4;
      border-radius: 0;
      cursor: initial;
      box-shadow: none;
      width: calc(100% - 30px);
      padding: 0;
    }
    .icon {
      svg {
        width: 26px;
        margin-left: 4px;
      }
    }
  }
  .comment, .comment2 {
    .avatar {
      width: 45px;
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
    }

    .other {
      width: calc(100% - 45px);
      .name-content {
        padding: 2px 0;
        .name {
          max-width: 200px;
          margin-right: 5px;
        }
        .content {
          max-width: calc(100% - 205px);
        }
      }

      .button-time {
        padding: 2px 0;
        .div-btn {
          .a {
            margin-right: 5px;
          }
        }
      }

      // .input {
      //   border: 1px solid #c4c4c4;
      //   border-radius: 2px;
      //   padding: 2px 7px;
      //   input {
      //     border: none;
      //     border-right: 1px solid #c4c4c4;
      //     border-radius: 0;
      //     cursor: initial;
      //     box-shadow: none;
      //     width: calc(100% - 30px);
      //     padding: 0;
      //   }
      //   .icon {
      //     svg {
      //       width: 26px;
      //       margin-left: 4px;
      //     }
      //   }
      // }
    }
  }
}