.MultipleChoiceExam {
    width: 80%;
    padding: 70px;

    .a123 div {
        padding: 5px 7px;
        margin-left: 5px;
    }

    .abc {
        border: 0.5px solid black;
        padding: 7px;
    }

    .abc .edf {
        border-radius: 50%;
        padding: 5px 7px;
        margin-left: 5px;
        background: white;
        border: 0.5px solid #111;
        color: #011;
    }
    .d-flex {
        width: fit-content;
    }
    

    // .answer-sheet-fixed {
    //     border: 1px solid rgb(153, 153, 153);
    //     width: 100%;
    //     height: calc(100% - 54px);
    // }

    // .answer-sheet-fixed-main {
    //     padding: 7px 0px;
    // }

    // .title-answer-sheet-panel {
    //     display: flex;
    //     justify-content: flex-start;
    //     align-items: center;
    //     width: 100%;
    //     border-bottom: 1px solid #999;
    //     font-weight: 700;
    //     color: #fff;
    //     text-align: center;
    // }

    // .exam-scroll-style {
    //     overflow: hidden auto;
    //     position: relative;
    //     zoom: 1;
    //     height: calc(100% - 85px);
    // }

    // .exam-answer-panel-item {
    //     position: relative;
    //     zoom: 1;
    // }

    // .exam-title {
    //     width: 25px;
    // }

    // .exam-number-answer-question {
    //     padding: 6px 10px !important;
    //     margin: 6px;
    //     text-align: center;
    // }

    // viết từ đây

    
























































}