.MultipleChoiceResult {
  color: blue;

  // VIẾT VÀO TRONG NGOẶC
  #exam-images {
    display: block;
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border-radius: 50%;
  }

  .exam-result-panel {
    margin: 20px 0;
    .emoji-result {
      justify-content: center;
      .score {
        font-weight: 600;
        font-size: 35px;
        color: #17a2b8;
        border-radius: 50%;
        background: #ccc;
        height: 60px;
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .row-infor-panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
    border-bottom: 1px solid #ddd;
    outline: none;
  }

  .row-infor-panel .exam-label {
    padding: 0px 30px 0px 0px;
    color: #333;
    font-size: 14px;
    font-weight: bold;
    text-align: right;
  }

  .row-infor-panel .exam-result {
    padding: 0px 0px 0px 5px;
    color: #333;
    font-size: 14px;
    text-align: left;
  }

  .row-infor-panel .item-left,
  .item-right {
    padding: 10px !important;
    border: 0;
    border-radius: 3px;
    color: white;
    text-transform: uppercase;
    font-weight: normal;
  }

  // viết từ đây
  .exam-infor-panel {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #333;
  }

  .Mul-title {
    font-size: 30px;
    margin-top: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: capitalize;
  }

  .description {
    margin-bottom: 15px;
  }

  .item-infor-panel {
    display: flex;
    align-items: center;
    width: 350px;
    justify-content: space-between;

    .icon {
      padding-right: 5px;
      margin-bottom: 10px;
    }

    .label {
      padding-right: 30px;
    }

    .gtw-HTML {
      text-align: end;
      padding-left: 10px;
    }
  }

  .item-label {
    display: flex;
    width: 60%;
  }

  .gwt-HTML {
    width: 40%;
  }

  .btn-info {
    align-items: center;
    text-transform: uppercase;
  }

  .button {
    margin: 25px 0;
    position: relative;
    top: 50%;
    left: 50%;
  }

  @media (max-width: 768px) {
    .submit-button {
      padding: 7px 10px !important;
    }
  }
}
