.HistoryList {
  table {
    .col-name {
      width: calc(100% - 255px);
    }
    .col-date {
      width: 100px;
      // text-align: center;
    }
    .col-result {
      text-align: center;
      width: 85px;
    }
    .col-point {
      text-align: center;
      width: 70px;
    }
  }
}