
img {
  object-fit: cover;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none !important;
  &:hover {
    text-decoration: none !important;
  }
}

h1,h2,h3,h4,h5,h6,small {
  text-transform: uppercase;
  margin: 20px 0;
  &.title-center {
    text-align: center;
  }
  &.title-left {
    text-align: left;
  }
  &.title-right {
    text-align: right;
  }
}

.item {
  &:hover {
    color: #0084ff;
    cursor: pointer;
  }
}

.btn-outline-info {
  &:active {
    background: #17a2b8;
    color: #FFF;
  }
}
