
img {
  object-fit: cover;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a, span.a {
  text-decoration: none !important;
  color: #17a2b8;
  cursor: pointer;
  &:hover {
    text-decoration: none !important;
    color: #52dcf1;
  }
}

input[type=checkbox] {
  transform: scale(1.25);
}

input[type=text], input[type=password],input[type=email],input[type=search], select {
  outline: none;
  border-radius: 5px;
  border: 2px solid transparent;
  box-shadow: 0 0 0 1px rgba(0,0,0,.14);
  padding: 5px 10px;
  &:focus {
    border: 2px solid #17a2b8;
  }
  &.error {
    border: 2px solid #ff606b;
  }
}

small.note {
  color: rgba(0,0,0,.4);
  text-transform: unset;
}

.list-scroll::-webkit-scrollbar {
  width: 10px;
  height: 6px;
}


h1,h2,h3,h4,h5,h6,small {
  text-transform: uppercase;
  margin: 20px 0;
  &.title-center {
    text-align: center;
  }
  &.title-left {
    text-align: left;
  }
  &.title-right {
    text-align: right;
  }
}

.item {
  &:hover {
    color: #0084ff;
    cursor: pointer;
  }
}

.btn-outline-info {
  &:active {
    background: #17a2b8;
    color: #FFF;
  }
}

.notification-message {
  font-weight: 500 !important;
  max-width: 100% !important;
  width: 100%;
}