.CreateExam {





















  .CreateQuestion {
    .wrapper-question {
      border-radius: 6px;
      background: azure;
      padding: 15px 20px 25px 20px;
      margin-bottom: 15px;
      .question {
        .left {
          width: 55%;
        }

        .right {
          width: 45%;
          padding: 0 5px 0 25px;
          .row-option {
            input[type=radio] {
              transform: scale(1.35);
            }
            .text {
              width: 80px;
            }
            input[type=text] {
              width: calc(100% - 120px);
              padding: 3px 10px;
            }
          }
        }
      }
    }

    .wrapper-btn {
      margin: 15px auto;
      width: 360px;
    }
  }
}