.choose-subjects {
  .subject-list {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: flex-start;
    .subject {
      border: 1.5px solid #c4c4c4;
      // padding: 15px 60px;
      padding: 15px 0;
      width: 230px;
      align-items: center;
      display: flex;
      flex-direction: column;
      border-radius: 6px;
      margin: 0 20px 20px 0;
      // justify-content: center;
      img {
        align-self: center;
        height: 65px;
        width: 65px;
        margin-top: 10px;
      }
      h4 {
        color: #17a2b8;
        font-size: 1.25rem;
      }
      button {
        width: 110px;
      }
      &:hover {
        border: 1.5px solid #17a2b8;
        cursor: pointer;
        .title {
          color: #17a2b8;
        }
        button {
          background: #17a2b8;
          color: #FFF;
        }
      }
    }
  }
}