.home {
  margin-bottom: 25px;
  .img-btn {
    justify-content: space-between;
    // padding: 0 15px;
    .img-btn-item {
      // background: aquamarine;
      border: 1px solid #fff;
      // width: calc(50% - 20px);
      width: 540px;
      padding: 15px;
      border-radius: 5px;
      height: 227px;
      cursor: pointer;
      background-size: cover;
      &.highSchool {
        background-image: url('/images/highSchool.png');
      }
      &.college {
        background-image: url('/images/college.png');
      }
      &:hover {
        // border: 2px solid #17a2b8;
        box-shadow: 0 0 10px 1px #061a1d;
        .d-table-cell {
          // color: #0084FF;
          color: transparent;
        }
      }
      .d-table-cell {
        vertical-align: bottom;
        color: transparent;
        // color: #FFF;
        font-size: 24px;
        font-weight: 500;
        text-transform: capitalize;
      }
    }
  }
  h3.title-left {
    margin: 15px 0;
  }

  .div-infor {
    border: 2px solid #c4c4c4;
    width: 80%;
    padding: 0;
    border-radius: 2px;
    margin-bottom: 20px;
    .wrapper-btn-group {
      border-bottom: 1px solid #c4c4c4;
      .btn-group {
        .btn-link-sub {
          border-radius: 1px;
          margin: 1px;
          &.active {
            // background: aquamarine !important;
          }
        }
      }
    }
    
    .content {
      h5 {
        text-transform: unset;
      }
    }
  }
}