.register-body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    .registerContainer {
        background-color: #fff;
        width: 500px;
        max-width: 100%;
    }
    .resgiter-header {
        background-color: #f7f7f7;
        border-bottom: 1px solid #f0f0f0;
        padding: 20px 40px;
    }

    .register-title {
        margin: 0;
        color: #17a2b8;
    }
    .Singup {
        padding: 30px 40px;
    }
    .form-control-1 {
        margin-bottom: 10px;
        padding-bottom: 20px;
        position: relative;
    }
    .checkbox {
        margin: 5px 0px;
        padding-top: 10px;
        float: left;
        width: 18px;
        height: 18px;
        border: 1px solid #dad8d3;
        border-radius: 3px;
        background: #fff;
        cursor: default;
    }

    #register-input {
        width: 100%;
        border-radius: 4px;
        padding: 10px;
    }
    #line-terms {
        display: flex;
    }
    #title {
        text-decoration: none;
    }
    .register-button {
        width: 100%;
        height: 36px;
        border-radius: 3px;
        border: none;
        padding: 5px;
        margin: 10px;
        text-align: center;
        font-size: 13px;
        background-color: #17a2b8;
        color: #fff;
    }
}
